In [41]:
from  mysql.connector import connect

In [42]:
mydb = connect(host='localhost', user='manjuna', passwd='root',database='school')

In [43]:
my_cursor = mydb.cursor()

In [44]:
my_cursor.execute("select * from student")
#my_cursor.fetchone() - used to fetch only one record
result = my_cursor.fetchall()
for i in result:
    print(i)

('manju', 'sjce')
('savvu', 'skmcet')